[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
python-socketio = "*"
ormar = { version = "*", extras = ["sqlite", "postgresql"] }
passlib = "*"
python-jose = "*"
alembic = "*"
email-validator = "*"
python-multipart = "*"
pydantic = "*"
redis = "==4.2.0rc1"
aiohttp = "*"
gunicorn = { version = "*"}
qrcode = "*"
jinja2 = "*"
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.10"
