[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
python-socketio = "*"
ormar = { version = "*", extras = ["sqlite", "postgresql"] }
passlib = "*"
python-jose = "*"
alembic = "*"
email-validator = "*"
python-multipart = "*"
pydantic = "*"
redis = "*"
aiohttp = "*"
gunicorn = { version = "*"}
qrcode = "*"
jinja2 = "*"
argon2-cffi = "*"
sentry-sdk = "*"
aiofiles = "*"
meilisearch = "*"
bleach = "*"
bidict = "*"
xlsxwriter = "*"
pillow = ">=9.1.1"

[dev-packages]
coverage = "*"
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
black = "*"
pytest-dependency = "*"
pytest-order = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[scripts]
format = "black ."
lint = "flake8 classquiz"
test = "coverage run -m pytest --lf -v --asyncio-mode=strict classquiz/tests"
