# SPDX-FileCopyrightText: 2023 Marlon W (Mawoka)
#
# SPDX-License-Identifier: MPL-2.0

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-socketio = "*"
ormar = { version = "*", extras = ["postgresql"] }
passlib = "*"
python-jose = "*"
alembic = "*"
email-validator = "*"
python-multipart = "*"
pydantic = "*"
redis = "*"
aiohttp = "*"
gunicorn = "*"
qrcode = "*"
jinja2 = "*"
argon2-cffi = "*"
sentry-sdk = "*"
aiofiles = "*"
meilisearch = "*"
bleach = "*"
bidict = "*"
xlsxwriter = "*"
authlib = "*"
httpx = "*"
itsdangerous = "*"
py-avataaars-no-png = "*"
cryptography = "*"
pyotp = "*"
minio = "*"
xxhash = "*"
arq = "*"
thumbhash-python = "*"
python-magic = "*"
openpyxl = "*"
starlette = "*"
pyopenssl = "*"
python-dotenv = "*"
webauthn = "==1.*"
pydantic-settings = "==2.2.1"

[dev-packages]
coverage = "*"
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
black = "*"
pytest-dependency = "*"
pytest-order = "*"
pre-commit = "*"
python-socketio = {extras = ["client"], version = "*"}

[requires]
python_version = "3.11"

[scripts]
format = "black ."
lint = "flake8 classquiz"
test = "coverage run -m pytest --lf -v --asyncio-mode=strict classquiz/tests"
worker = "arq classquiz.worker.WorkerSettings"
