<!--
SPDX-FileCopyrightText: 2023 Marlon W (Mawoka)

SPDX-License-Identifier: MPL-2.0
-->

# Question Types

- [Range](/docs/quiz/question-types/range)
- [Multiple Choice](/docs/quiz/question-types/multiple-choice)
- [Voting](/docs/quiz/question-types/voting)
- [Text](/docs/quiz/question-types/text)
- [Order](/docs/quiz/question-types/order)
- [Check Choice](/docs/quiz/question-types/check-choice)
