<!--
SPDX-FileCopyrightText: 2023 Marlon W (Mawoka)

SPDX-License-Identifier: MPL-2.0
-->
<style>
    .link-hover {
        background: linear-gradient(90deg, #009444, #39b54a, #8dc63f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
</style>
<div style='box-sizing: border-box;clear: both;width: 100%'>
	<table
		style='box-sizing: border-box;width: 100%;border-spacing: 0;mso-table-rspace: 0pt;mso-table-lspace: 0pt;font-size: 12px;border-collapse: separate !important'
		width='100%'>
		<tbody>
		<tr style='font-size: 12px'>
			<td style="box-sizing: border-box;font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;font-size: 12px;text-align: center;padding: 20px 0"
				valign='top' align='center'>
				<p style="margin: 0;color: #294661;font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;font-weight: 300;font-size: 12px;margin-bottom: 5px">
					&#128140; Send with love by <a href='https://mawoka.eu/?utm_source=ClassQuiz&utm_medium=Email'
												   class='link-hover' target='_blank'>Mawoka</a>
				</p></td>
		</tr>
		</tbody>
	</table>
</div>
