<!--
SPDX-FileCopyrightText: 2023 Marlon W (Mawoka)

SPDX-License-Identifier: MPL-2.0
-->

# Multiple Choice

## Summary
- The standard question type everyone knows
- 1-4 answers can be correct
- User can only choose one answer

## Use case
Nothing specific; Main component of a quiz
