<!--
SPDX-FileCopyrightText: 2023 Marlon W (Mawoka)

SPDX-License-Identifier: MPL-2.0
-->

# Voting

## Summary
- Like [Multiple Choice](/docs/quiz/question-types/multiple-choice)
- No points
- No correct answers
- Bar graph shows how many voted for what

## Use case
- Get the opinion of the audience
